@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
img {
  max-width: 20vw;
}
nav {
  background: #563b2a;
  height: 80px;
  width: 100%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgb(242, 227, 208);
}
label.logo {
  color: rgb(242, 227, 208);
  font-size: 35px;
  line-height: 80px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: rgb(242, 227, 208);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #78533b;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: rgb(242, 227, 208);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
  width: 100%;
}
.container > img {
  border-radius: 20px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font-size: 200%;
  border-bottom: 1px solid rgb(242, 227, 208);
  margin-bottom: 10px;
}
.info > * {
  margin: 2px;
}
.info > p:nth-of-type(3) {
  font-size: 95%;
}
.info > p:nth-of-type(4) {
  font-size: 95%;
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 45vh;
  padding: 0px 10px 0px 10px;
}
#map {
  width: 70%;
  height: 90%;
}
.gallery {
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  box-sizing: border-box;
  flex-wrap: wrap 3;
}
.gallery > div {
  border: 1px solid rgb(242, 227, 208);
  margin: 0px 5px 0px 5px;
  padding: 3px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.gallery > div > img {
  max-width: 20vw;
  border-radius: 4px;
}
.gallery > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(242, 227, 208);
}
#prev,
#next {
  background: none;
  color: rgb(242, 227, 208);
  outline: none;
  border: none;
  font-size: 24px;
}
#social {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}
#social > div > a {
  font-size: 22px;
}
#social > div > a:hover {
  background-color: #472a18;
}
#menu-list {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#menu-list > ol {
  width: 90%;
  padding: 0 10px 5px 10px;
  border-bottom: 1px solid rgb(242, 227, 208);
  margin: 5px;
  margin-bottom: 20px;
}
#menu-list > ol:last-child {
  margin-bottom: 5px;
}
#menu-list > ol:last-child {
  border-bottom: none;
}
#menu-list > ol > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.result {
  text-transform: uppercase;
  text-align: left;
  padding: 5px;
  font-size: larger;
}
.result > h2{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 850px) {
  img {
    max-width: 35vw;
  }
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 935px) {
  nav {
    position: sticky;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #78533b;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    border-radius: 0;
  }
  a:hover,
  a.active {
    background: none;
    color: rgb(242, 227, 208);
  }
  #check:checked ~ ul {
    left: 0;
  }
  body:has(#check:checked) nav {
    position: fixed;
    top: 0px;
    left: 0;
  }
  body:has(#check:checked) .container {
    position: fixed;
    top: 80px;
    left: 200%;
    transition: all 0.5s;
  }
  .active {
    border-bottom: 1px solid rgb(242, 227, 208);
  }
  .info {
    font-size: 100%;
  }
  #social {
    width: 100%;
    padding: 5px;
  }
  #social > div > a {
    font-size: 20px;
  }
  .map {
    width: 100%;
    margin-bottom: 10px;
  }
  #menu-list {
    width: 100%;
  }
  .gallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    box-sizing: border-box;
  }
  .gallery > div {
    border: 1px solid rgb(242, 227, 208);
    margin: 5px 0px 5px 0px;
    padding: 3px;
    border-radius: 4px;
  }
  .gallery > div > img {
    max-width: 90vw;
    border-radius: 4px;
  }
  .gallery > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(242, 227, 208);
  }
  .result {
    text-transform: uppercase;
    padding: 15px;
    font-size: 18px;
  }
}
